[Desktop Entry]
Version=1.0
Type=Application
Name=Bash root
Comment=Root Terminal
Exec=gksu xfce4-terminal
Icon=/home/shl/Pictures/gksu-root-terminal.png
Path=
Terminal=false
StartupNotify=false
