[Desktop Entry]
Version=1.0
Type=Application
Name=Popcorntime
Comment=
Exec=/home/shl/.Popcorn/Popcorn-Time
Icon=/home/shl/.Popcorn/src/app/images/icon.png
Path=
Terminal=false
StartupNotify=false
