[Unit]
 Description=Automatically check internet services every 3 minutes
[Timer]
 OnBootSec=3min
 OnUnitActiveSec=3min
 Unit=rnetworking.service

[Install]
 WantedBy=multi-user.target
