[Unit]
 Description=Comprobación automatica de servicios de red cada 5 minutos
[Timer]
 OnBootSec=2min
 OnUnitActiveSec=10min
 Unit=rnetworking.service

[Install]
 WantedBy=timers.target
