[Unit]
Description=Firefox profile memory cache
 
[Install]
WantedBy=default.target
 
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/home/YourUsername/.local/bin/firefox-sync %i
ExecStop=/home/YourUsername/.local/bin/firefox-sync %i
