[Unit]
 Description=Check network services every 5 minutes

[Timer]
 OnBootSec=1min
 OnUnitActiveSec=5min
 Unit=rnetworking.service

[Install]
 WantedBy=timers.target
